
.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px; 
}